---
interface Props {
    title: string,
    description: string,
    image: string,
    link: string,
    repo: string,
}

const { title, description, image, repo, link } = Astro.props;
---

<div class="project-card">
      <div class="project-card__image">
          <img src={image} alt={title} />
      </div>
      <div class="project-card__content">
          <h3 class="text-gradient">{title}</h3>
          <p>{description}</p>
          <div class="project-card__tech">
              <slot/>
          </div>
          <div class="project-card__links">
            <a class="text-gradient" href={link} target="_blank">Ver</a>
            <a class="text-gradient" href={repo} target="_blank">Repositorio</a>
          </div>
      </div>
</div>

<style>
  .project-card {
    padding: 10px;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: rgba(var(--shadow-color)) 0 0 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .project-card__image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .project-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
  }
  .project-card:hover {
    transform: scale(1.05);
  }
  .project-card:hover .project-card__image img {
    transform: scale(2);
    filter: hue-rotate(180deg);
  }
  .project-card__tech {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .project-card__content {
    padding: 1rem;
    text-align: center;
  }
  a {
    display: inline-block;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out;
  }
  a:hover {
    border-bottom: 1px solid rgb(var(--accent));
  }
  .project-card__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
</style>
